       * {
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }      
       body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0px auto;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }
          button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: #45a049;
        }
        .qr-container {
            margin-top: 10px;
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 10px;
            width: auto;
        }
                .download-btn {
            background-color: #008CBA;
            margin-top: 5px;
        }
        .download-btn:hover {
            background-color: #007399;
        }