<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <link rel="icon" href="{{ url_for('static', filename='QRcode.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='qrcode.css') }}">
</head>
<body>
    <h1>QR Code Generator by LEON</h1>

    <form action="/generate" method="POST">
        <label>Enter your text or URL: </label><br>
        <input type="text" name="data" required value="{{ data if data else '' }}"><br><br>
        <button type="submit">Generate QR Code</button>
    </form>
    
    {% if qr_code %}
    <div class="qr-container">
        <h2>Your QR Code:</h2>
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
        <br>
        <a href="/download?data={{ data }}">
            <button class="download-btn" type="button">Download</button>
        </a>
    </div>
    {% endif %}

</body>
</html>